@media screen and (max-width: 1200px){
    body {
        overflow-x: hidden; /* Hide horizontal scrollbar */
        }

    .cabecalho{
        width: 350px
    
    }

    .cabecalho-image{
        display: none;
    }

    .cabecalho-menu{
        width: 330px;
    }

    .cabecalho-menu-item{
        width:24%;
    }

    .conteudo-principal{
    width: 200%;
    }

    .conteudo-principal-imagem{
    display: none;
    }

    .conteudo-principal-escrito-titulo{
        margin-left: 190px;
        margin-bottom: 100px;
        padding: 23px;

    }

    .conteudo-principal-escrito-subtitulo{
        position: absolute;
        left: 210px;
        top: 110px;
    }

    .conteudo-principal-escrito-botão{
        margin: 100px;
        margin-left: 250px;
        margin-top: 10px;
        
    }

    .conteudo-segundario-titulo{
        right: 30px;
        position: relative;
        margin-top: 10px;
    }

    .conteudo-secundario{
        position: relative;
        top: -10px; 
        margin-left: 20px;
        margin-top: 2px;
    }

    .rodape{
        height: 50px;
        margin-top 100px;
        position: relative;
        top: -10px;
        padding: 20px;
        left: -15px;
        
    }

    }

@media (max-width: 500px){

    .cabecalho-menu-item{
        font-size: 16px;
    }

    .conteudo-principal-escrito-titulo{
        display: flex;
        justify-content: center;
}

.conteudo-principal-escrito-subtitulo{
    padding: 25px;
}
}

@media (max-width: 1280px){
    .conteudo-principal-escrito-titulo{
    display: flex;
    align-items: center;}

    .conteudo-principal-imagem{
    position: absolute;
width: 310.13px;
height: 309.31px;
left: 880px;
top: 121px;
    }
}

@media (min-width: 800px) and (max-width: 1024px){

    .cabecalho-menu-item{
        margin-left: 70px;
    }

    .conteudo-principal{
        margin-left: -150px;
    }
    }

    @media (min-width: 688px) and (max-width: 1031px){

        .cabecalho-menu-item{
            margin-left: 60px;
        }

        .conteudo-principal-escrito-subtitulo{
            margin-right: 290px;
            margin-top: 40px;
        }

        .conteudo-principal-escrito-botão{
            margin-right: 400px;
        }
    }
